<header>
  <div class="container header-container">
            <div class="logo">Israel Dev</div>
            <button class="mobile-menu-btn">
                <i class="fas fa-bars"></i>
            </button>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="template/hotel.html">Sitio</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Elementos</a></li>
                    <li><a href="#">Documentos</a></li>
                </ul>
            </nav>
        </div>
</header>

