    <section class="about">
        <div class="container">
            <h2 class="section-title">NOSOTROS</h2>
            <div class="about-content">
                <div class="about-text">
                    <h2>resolver problemas con claridad, sencillez y honestidad.</h2>
                    <p>¡Hola! Soy David Ramírez, desarrollador de software especializado en crear sitios web profesionales, rápidos y fáciles de administrar. Ayudo a emprendedores, empresas y profesionales a construir su presencia digital con herramientas modernas y confiables.
                        Si estás buscando una página web para tu negocio, una aplicación móvil o automatizar tus procesos, estás en el lugar correcto.</p>
                    <p>Diseñamos webs modernas, rápidas y atractivas que convierten visitantes en clientes para tu negocio.</p>
                    <a href="#" class="btn">VER MIS SERVICIOS</a>
                </div>
                <div class="about-image">
                    <!-- Imagen de placeholder -->
                     <img src="nosotros.png" width="565" />
                </div>
            </div>
        </div>
    </section>