<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mi Plantilla Base</title>
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="../css/components.css" />
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <script src="../js/main.js" defer></script>
 <script src="../js/menu.js" defer></script>

  
</head>
<body>
  <header>
  <div class="container header-container">
            <div class="logo">Israel Dev</div>
            <button class="mobile-menu-btn">
                <i class="fas fa-bars"></i>
            </button>
            <nav>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="template-site.html">Diseño Web</a></li>
                    <li><a href="servicios.html">Servicios</a></li>
                    <li><a href="acerca.html">Acerca de</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                   
            </nav>
        </div>
</header>
<section class="hero-seccion">
  <div class="hero-fondo-ser">
    <div class="hero-texto">
      <h1>Servicios</h1>
      <p>Desarrollo sitios y aplicaciones con tecnología moderna y alto rendimiento.</p>
    </div>
  </div>

  <div class="info-card">
    <h2>¿Qué puedo hacer por ti?</h2>
    <p>
      Puedo crear tu sitio web profesional, diseñar plantillas para tu negocio o
      automatizar tareas que te ahorren tiempo y dinero.</p>
      
    
  </div>
</section>

</body>


</html>




