<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mi Plantilla Base</title>
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="../css/components.css" />
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <script src="../js/main.js" defer></script>
 <script src="../js/menu.js" defer></script>

  
</head>
<body>
  <header>
  <div class="container header-container">
            <div class="logo">Israel Dev</div>
            <button class="mobile-menu-btn">
                <i class="fas fa-bars"></i>
            </button>
            <nav>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="template-site.html">Diseño Web</a></li>
                    <li><a href="servicios.html">Servicios</a></li>
                    <li><a href="precios.html">Precios</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
</header>
<!-- Agua section -->
    <section class="about">
        <div class="container">
            <h2 class="section-title">Empresa de Agua Plantilla Web</h2>
            <div class="about-content">
                <div class="about-text">

                    <div class="about-precio">
                        <span class="licencia">Licencia regural</span> <div class="precio-num">Gs. 370.000</div>
                    </div>
                    <ul><li>Diseño Responsivo</li>
                        <li>Hasta 4 páginas internas</li>
                        <li>Formulario de Contacto</li>
                    </ul>
                    <p>
                        Este es un tema Web para empresas públicas y privadas, con un diseño atractivo, moderno y minimalista. Su diseño funcional y actual está pensado para empresas, editoriales y librerías.
                    </p>
                        <a target="_blank" href="demo-aqua.html" class="btn">Vista Demo</a>
                </div>
                <div class="about-image">
                    <!-- Imagen de placeholder -->
                     <img src="../assets/img/aquademo.png" width="565" />
                </div>
            </div>
        </div>
    </section>
    <!-- Escuela section -->
    <section class="about">
        <div class="container">
            <h2 class="section-title">Librería y Biblioteca Plantilla Web</h2>
            <div class="about-content">
                <div class="about-text">

                    <div class="about-precio">
                        <span class="licencia">Licencia regural</span> <div class="precio-num">Gs. 370.000</div>
                    </div>
                    <ul><li>Diseño Responsivo</li>
                        <li>Hasta 4 páginas internas</li>
                        <li>Formulario de Contacto</li>
                    </ul>
                    <p>
                        Este es un tema Web para bibliotecas públicas y librerías, con un diseño atractivo, moderno y minimalista. Su diseño funcional y actual está pensado para bibliotecas, editoriales y librerías.
                    </p>
                        <a target="_blank" href="demo-libreria.html" class="btn">Vista Demo</a>
                </div>
                <div class="about-image">
                    <!-- Imagen de placeholder -->
                     <img src="../assets/img/elsaber.png" width="565" />
                </div>
            </div>
        </div>
    </section>

    <!-- Escuela section -->
    <section class="about">
        <div class="container">
            <h2 class="section-title">Librería Online Plantilla Web</h2>
            <div class="about-content">
                <div class="about-text">

                    <div class="about-precio">
                        <span class="licencia">Licencia regural</span> <div class="precio-num">Gs. 1.600.000</div>
                    </div>
                    <ul>
                        <li>Calidad verificada</li>
                        <li>Incluye: Actualizaciones futuras</li>
                        <li>Incluye: 6 meses de soporte de ThemeREX</li>
                        
                    </ul>
                    <p>
                        Este es un tema Web que será una solución fantástica para tu librería online. Además, este tema es la opción ideal para sitios web que venden cualquier producto electrónico, como audiolibros y libros electrónicos.
                    </p>
                    <a href="#" class="btn">Vista Demo</a>
                </div>
                <div class="about-image">
                    <!-- Imagen de placeholder -->
                     <img src="../assets/img/bookguide.png" width="565" />
                </div>
            </div>
        </div>
    </section>

<!-- About section -->
    <section class="about">
        <div class="container">
            <h2 class="section-title">Hotel Paradise Sitio Web Adaptable</h2>
            <div class="about-content">
                <div class="about-text">

                    <div class="about-precio">
                        <span class="licencia">Licencia regural</span> <div class="precio-num">Gs. 1.900.000</div>
                    </div>
                    <p>Hotel Paradise es una plantilla web HTML5 limpia y moderna para hoteles, casas rurales y otros alojamientos. Es la plantilla ideal si desea crear una presencia web moderna y atractiva. Incluye atractivas variaciones de páginas de inicio y diferentes páginas de listado de habitaciones. También incluye 5 versiones distintas de menú. Además, cuenta con un formulario de solicitud de reservas funcional con soporte para SMTP y plantillas de correo electrónico HTML.</p>
                    <a target="_blank" href="demo-hotel.html" class="btn">Vista Demo</a>
                </div>
                <div class="about-image">
                    <!-- Imagen de placeholder -->
                     <img src="../assets/img/urban.png" width="565" />
                </div>
            </div>
        </div>
    </section>

    <!-- Escuela section -->
    <section class="about">
        <div class="container">
            <h2 class="section-title">Hotel Paradise Sitio Web Adaptable</h2>
            <div class="about-content">
                <div class="about-text">

                    <div class="about-precio">
                        <span class="licencia">Licencia regural</span> <div class="precio-num">Gs. 2.900.000</div>
                    </div>
                    <p>Hotel Paradise es una plantilla web HTML5 limpia y moderna para hoteles, casas rurales y otros alojamientos. Es la plantilla ideal si desea crear una presencia web moderna y atractiva. Incluye atractivas variaciones de páginas de inicio y diferentes páginas de listado de habitaciones. También incluye 5 versiones distintas de menú. Además, cuenta con un formulario de solicitud de reservas funcional con soporte para SMTP y plantillas de correo electrónico HTML.</p>
                    <a target="_blank" href="demo-hotel2.html" class="btn">Vista Demo</a>
                </div>
                <div class="about-image">
                    <!-- Imagen de placeholder -->
                     <img src="../assets/img/belle.png" width="565" />
                </div>
            </div>
        </div>
    </section>



</body>


</html>
